<h2><%= "#{t "head_search"} '#{params[:search]}'" %></h2>
<div class="admin-search-form">
  <div class="primary-nav-wrapper desktop hidden-xs hidden-sm">
    <div class="search">
      <form class="search-form">
      </form>
        <%= form_tag admin_movies_search_path, {class: "search-form"} do %>
          <div class="input-append">
            <%= text_field_tag :search, nil, placeholder: t("find_box"), class: "search-box" %>
            <%= button_tag(type: "submit", class: "search-btn") do %>
              <%= content_tag(:i,nil, class: "fa fa-thin fa-magnifying-glass")%>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
<table class="table table-striped">
  <tr>
    <th><%= t ".id" %></th>
    <th><%= t ".title" %></th>
    <th><%= t ".category" %></th>
    <th><%= t ".duration" %></th>
    <th><%= t ".release" %></th>
    <th><%= t ".range" %></th>
    <th><%= t ".show_times" %></th>
    <th></th>
    <th></th>
  </tr>

  <% @stt = 1 + (@pagy.page - 1) * Settings.digits.admin_movie_per_page %>
  <%= render @movies %>
</table>
<%== pagy_bootstrap_nav @pagy %>
